/*导航条*/
#navigation{
	width: 500px;
	position: absolute;
	right: -25px;
}
#navigation ul{
	list-style: none;
	font-family: arial;
	font-size: 13px;
	
}
/*鼠标点击前*/
.navigation_special0 a:link{
	float:left;
	margin-left: 20px;
	font-weight: bold;
	color: black;
}
.navigation_special1 a:link{
	margin-left: 20px;
	float:left;
	font-weight:normal;
	color: black;
}
.navigation_special2 a:link{
	float:left;
	margin-left: 20px;
	font-weight: normal;
	background: #38f;
	width: 60px;
	line-height: 24px;
	text-align: center;
	color: white;
	position: absolute;
	top: 9px;
	text-decoration: none;
	
}
/*鼠标移上去时*/
.navigation_special0 a:hover{
	color: blue;
}
.navigation_special1 a:hover{
	color: blue;
}
.navigation_special2 a:hover{
	color: white;
	text-decoration: underline;
}
/*访问过时*/
.navigation_special0 a:visited{
	color: black;
}
.navigation_special1 a:visited{
	color: black;
}
.navigation_special2 a:visited{
	color: white;
}

/*设置logo*/
#logo{
	width: 270px;
	margin:auto;
	position: relative;
	top: 35px;
}
#logo img{
	height: 129px;
	width: 270px;
}
/*设置搜索框栏*/
#search{
	width: 800px;
	margin: auto;
	position: relative;
	top: 50px;
	border: 2px solid red;
	border: 0;
}
#search_input1{
	width: 541px;
	height: 30px;
	margin-left:76px ;
}
#search_input2{
	width: 100px;
	height: 36px;
	color: white;
	font-size: 15px;
	background: #3385ff;
	font-family: arial;
	border: 1px solid #3385ff;
}
#search_input2:hover{
	box-shadow: 1px 1px 1px #ccc;
	background: #3171f3;
}
/*设置correlation相关*/
#correlation{
	color: #666;
	font-size: 12px;
	text-align: center;
	width: 400px;
	margin: auto;
	position: relative;
	top:300px;
	
}
#correlation ul{
	margin-left: 35px;
	list-style: none;
}
#correlation ul li a:link{
	float: left;
	color: blue;
	margin-left: 10px;
}
#correlation ul li a:visited{
	color: blue;
}
#correlation a:link{
	color: #666;
}
#correlation a:visited{
	color: #666;
}
