@media screen and (max-width: 480px){/*分辨率小于480px时**********************************/	
	/*头部*/
	.head_NameAndJob{/*名字和职位*/
		position: absolute;
		left: 20%;
		width: 275px;
		font-weight: bolder;
		font-family: "宋体";
	}
	.head_NameAndJob_name{
		position: absolute;
		top: 3px;
		left: 16%;
		font-size: 45px;
	}
	.head_NameAndJob_job{
		position: absolute;
		left: 24%;
		top: 50px;
		font-size: 17px;
	}/*名字和职位---结束*/
	/*头部---结束*/
	
	/*体部*/
	/*联系方式*/
	.box_contact{
		position: absolute;
		left: 5%;
		height: 100px;
		width: 90%;
		border-bottom: 1px solid rgb(51,51,51);
	}
	.box_contact_wechat{
		position: absolute;
		right: 68%;
		top: 5px;
		height: 90px;
		border-radius: 7px;
	}
	.box_contact_other{
		position: absolute;
		top: 9px;
		left: 32%;
		width: 200px;
		font-weight: bold;
		font-size: 18px;
		text-align: center;
	}
	/*联系方式--结束*/
	/*体部结束*/
}/*分辨率小于640px时--结束**********************************/