body{
	background: rgba(0,0,0,0.5);
}
embed{
	height: 40px;
	width: 50px;
	opacity: 0;
	transition: opacity 0.5s linear;
}
embed:hover{
	opacity: 1;
}
#box{
	position: relative;
	width:769px;
	height: 550px;
	margin: auto;
	margin-top: 10px;
	overflow: hidden;
}
#help{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 846px;
	height: 541px;
	transition: left 1s linear,opacity 0.5s linear;
}
#help0{
	position: absolute;
	top: 0px;
	left: 769px;
	width: 769px;
	height: 510px;
	line-height: 510px;
	text-align: center;
	font-family: "宋体";
	font-size: 90px;
	color: white;
	font-weight: 3000;
	transition: left 1s linear,opacity 0.5s linear;
}
#help1{
	position: absolute;
	top: 0px;
	left: 769px;
	width: 769px;
	height: 510px;
	background:url(../img/help1.jpg);
	line-height: 110px;
	text-align: center;
	font-family: "宋体";
	font-size: 45px;
	color: white;
	font-weight: 3000;
	opacity: 0;
	transition: left 1s linear,opacity 0.5s linear;
}
#help2{
	position: absolute;
	top: 0px;
	left: 769px;
	width: 769px;
	height: 510px;
	background:url(../img/help2.jpg);
	line-height: 250px;
	text-align: center;
	font-family: "宋体";
	font-size: 50px;
	color: white;
	font-weight: 3000;
	opacity: 0;
	transition: left 1s linear,opacity 0.5s linear;
}
#help3{
	position: absolute;
	top: 0px;
	left: 769px;
	width: 769px;
	height: 510px;
	background:url(../img/help3.jpg);
	line-height: 700px;
	text-align: center;
	font-family: "宋体";
	font-size: 65px;
	color: white;
	font-weight: 3000;
	opacity: 0;
	transition: left 1s linear,opacity 0.5s linear;
}
#help4{
	position: absolute;
	top: 0px;
	left: 769px;
	width: 769px;
	height: 510px;
	background:url(../img/help4.jpg);
	line-height: 200px;
	text-align: center;
	font-family: "宋体";
	font-size: 60px;
	color: white;
	font-weight: 3000;
	opacity: 0;
	transition: left 1s linear,opacity 0.5s linear;
}
#help5{
	position: absolute;
	top: 0px;
	left: 769px;
	width: 769px;
	height: 510px;
	background:url(../img/help5.jpg);
	line-height: 150px;
	text-align: center;
	font-family: "宋体";
	font-size: 65px;
	color: white;
	font-weight: 3000;
	opacity: 0;
	transition: left 1s linear,opacity 0.5s linear;
}
#help6{
	position: absolute;
	top: 0px;
	left: 769px;
	width: 769px;
	height: 510px;
	line-height: 541px;
	text-align: center;
	font-family: "宋体";
	font-size: 90px;
	font-weight: 3000;
	transition: left 1s linear,opacity 0.5s linear;
}
a:link{
	text-decoration: none;
	color: white;
}
a:visited{
	text-decoration: none;
	color: white;
}
